version: "3.9"

services:
  redis:
    image: redis:7.4-alpine
    container_name: redis-server
    restart: unless-stopped
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    environment:
      - REDIS_PASSWORD=SuperStrongPassw0rd!
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "SuperStrongPassw0rd!", "ping"]
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      resources:
        limits:
          cpus: "1.5"
          memory: 1G
        reservations:
          memory: 512M
    networks:
      - redis-net

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redis-insight
    restart: unless-stopped
    ports:
      - "5540:5540"
    networks:
      - redis-net
    depends_on:
      - redis

volumes:
  redis_data:
    driver: local

networks:
  redis-net:
    driver: bridge
